/* theme colors */
body,
select,
textarea {
	color: #2b2b2b;
}
.menu-toggle:active,
.menu-toggle.toggled-on {
	color: #767676;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border-color: transparent;
}
body {
	background: #ccc;
}
mark,
ins {
	background: #086CA2;
	color: #fff;
}
blockquote {
	color: #822f2c;
}
blockquote cite,
blockquote small {
	color: #6699cc;
}
del {
	color: #767676;
}
hr {
	background-color: #eee;
}
textarea {
	background: #eee;
	border: 1px solid #ccc;
	color: #000066;
}
input:focus,
textarea:focus {
	background: #fff;
	border: 1px solid #0066cc;
}
.menu-toggle,
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border:1px solid #d7dada;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold;
	background-color: #1e73be; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
}

.menu-toggle:hover,
button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border:1px solid #bfc4c4;
	background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
	background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
}

.menu-toggle:active,
button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	color: #767676;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border-color: transparent;
	color: #000;
	top: 1px;
}
.site .search-form input[type="submit"]:hover {
	background: transparent;
}
abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}
pre {
	border: 1px solid #ccc;
}

fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

table,
th,
td {
	border: 1px solid #ccc;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.wp-caption {
	color: #767676;
}

.screen-reader-text:focus {
	background-color: #eee;
	box-shadow: 0 0 2px 2px #fff;
	color: #3333ff;
}

.site {
	color: #666;
}

.pagination .page-numbers {
	border: 1px solid;
}

.galslery-caption {
	background-color: #eee;
	color: #767676;
}

/* comments */
.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a {
	color: #003366;
}
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
	color: #339900;
}
.bypostauthor .fn a {
	color: #339900;
}
.bypostauthor .fn a:hover {
	color: #3366cc;
}
.comment-author .avatar {
	border: 1px solid #eee;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
	color: #ccc;
}

.comment-list .reply {
	display: inline-block;
	text-shadow: 0 -1px rgba(0,0,0,.1);
	text-decoration: none;
	padding: .3em 1em;
	outline: none;
	border: none;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-top-color: #eee;
	border-radius: 2px;
	background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
	box-shadow:
	0 0 3px rgba(0,0,0,0) inset,
	0 1px 1px 1px rgba(255,255,255,.2),
	0 -1px 1px 1px rgba(0,0,0,0);
}

.comment-list .reply:hover {
	color: rgb(24,24,24);
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.comment-list .reply:hover a {
	text-decoration: none;
}

.comment-list .comment-body {
	border: 1px solid #eee;
}

.comment-meta {
  border-bottom: 1px solid #eee;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
	color: rgb(68,68,68);
	text-decoration: none;
	outline: none;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	display: inline-block;
	text-align: center;
}
.comment-navigation .nav-next:hover,
.comment-navigation .nav-previous:hover {
	color: rgb(24,24,24);
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.comment-navigation .nav-next:hover a,
.comment-navigation .nav-previous:hover a {
	text-decoration: none;
}
/* blog */
.site .flex .content-container {
	box-shadow: none;
}

/* column */
.sidebar-1,
.sidebar-2 {
	border-bottom: none;
	border-top: none;
}

.sidebar-1 {
	border-left: none;
}

.sidebar-2 {
	border-right: none;
}
/* Auto Colors */

.site-title h1,
.site-title a {
	color: #1e73be;
}

.site-title {
	background: rgba(255,255,255,1);
}		

.site-title a:after, 
.site-title a:before {
	background: #1e73be;
}

.site-description {
	background: rgba(221,51,51,1);
}

button,
input,
.content a,
.comments-area a {
	color: #1e73be;
}

.read-more a:after,
.site .site-content .read-more a:hover {
	background-color: #1e73be;
	color: rgba(255,255,255,1);
}

.read-more a,
.tags a,
.post-date,
.flex .content-container,
.pagination .page-numbers {
	border-color: #1e73be;			
}

/* content */
.main-area {
	background-color:rgba(255,255,255,1);
}

.site .site-content,
.site .entry-title a:after,
.site .entry-content a:after,
.site .tags a:after,
.site .post-date:after,
.site .page-numbers:after,
.flex .content-container:after, 
.flex .content-container:before,
.comment-list .comment-meta {
	background-color: rgba(255,255,255,1);			
}

.site-content,
.comment-body .comment-meta,
.pagination .page-numbers,
.comment-metadata, .comment-metadata a, .comment-edit-link,
.comment-notes, .comment-awaiting-moderation, .logged-in-as, .no-comments, .form-allowed-tags,.form-allowed-tags code {
	color: #000000;
}		

.flex .content-container,
.flex .entry-title a:after,
.flex .post-date:after {
	background-color: rgba(255,255,255,1);
}

.woo-shop .woocommerce-breadcrumb a,
.woo-shop .woocommerce-breadcrumb,
.woo-shop .orderby {
	color: #000000;
}

.woo-shop .woocommerce-breadcrumb {
	border-bottom: 5px solid rgba(255,255,255,1);
}

.nav-link a,
.project-list a,
.category-list a,
.category-list a:after,
.search-form:before,
.pagination .page-numbers.current {
	background: #1e73be;
	color: rgba(255,255,255,1);
}

			.animate-on-load.header-effect-4 .image-wrapper:before {
		background-color: #fff;
	}
		
.pagination .page-numbers {
	border-color: #1e73be;
}

.category-list a:hover:before {
	background-color: rgba(255,255,255,1);
}

.pagination .page-numbers,
.site .entry-header .entry-title a {
	color: #1e73be;
}

.entry-content a:hover,
.entry-summary a:hover,
.entry-title a:hover,
.entry-meta a:hover,
.comments-link a:hover,
.comment-author.vcard a:hover,
.comment-metadata a:hover,
.site .entry-header .entry-title a:hover,
.site-content h1 a:hover, .site-content h2 a:hover, .site-content h3 a:hover, .site-content h4 a:hover, .site-content h5 a:hover, .site-content h6 a:hover{
	color: #dd3333;
}

.entry-title a:hover:before,
.entry-content a:hover:before,
.tags a:hover:before {
	background-color: #dd3333;
}

.site-description h2 {
	color: #ffffff;
}

.entry-header .entry-title a, .site .comment-metadata a, .site .comment-author.vcard a,
.site-content h1, .site-content h2, .site-content h3, .site-content h4, .site-content h5, .site-content h6,
.site-content h1 a, .site-content h2 a, .site-content h3 a, .site-content h4 a, .site-content h5 a, .site-content h6 a {
	color: #1e73be;
}

.site-title h1 a {
	color: #1e73be;

}

.entry-date a:hover:before,
.author.vcard a:hover:before,
.edit-link a:hover:before,
.tag a:hover:before,
.content .project a:hover:before,
.tags a:hover:before,
.content .project-list a:hover:before,
.category-list a:hover:before,
.comments-link a:hover:before {
	text-shadow: 5px 1px 10px rgba(165,165,165,0.5);
}

@media screen and (min-width: 680px) {
	.pagination .page-numbers:hover,
	.project-list a:hover,
	.category-list a:hover,
	.tags a:hover,
	.flex .content-container,
	.comment-list .comment-meta,
	.widgettitle,
	.widget-title,
	.menu-top,
	.menu-top ul ul {
		box-shadow: 5px 1px 10px rgba(165,165,165,0.5);

	}
}

/* Column sidebar */

.no-image, .sidebar-header a,
.sidebar-1, .sidebar-2, .comment-body, .widget a:after {
	background-color:rgba(255,255,255,1);
}

.no-image .sidebar-header, .column .widget, .comment-body {
	color: #000000;
}

.sidebar-header a, .small a, .small a:before, .small li:before, .comment-body a {
	color: #1e73be;
}

.column .widget_tag_cloud a {
	border-color: #1e73be;
}

.sidebar-header a:hover, .column a:hover {
	color: #dd3333;
}

.sidebar-header {
	color: #fff;
}
.widget a:hover:before {
	background-color: #dd3333;
}

.column .widgettitle,
.column .widgettitle a,
.column .widget-title,
.column .widget-title a {
	background-color: rgba(221,51,51,1);
	color: #ffffff;
}

.column .widget-title:after, .column .widgettitle:after, 
.column .widget-title:before, .column .widgettitle:before {
	background: #ffffff;
}

.column .widgettitle, .column .widget-title {
	border-color: #dd9933;
}

.column .widget {
	background-color: transparent;
}

.sidebar-1, .sidebar-2 {
	border-color: #1e73be;
}

/* Top Menu */

.horisontal-navigation ul {
	background-color: #ffffff;
}

.horisontal-navigation li a {
	color: #1e73be;
}			

@media screen and (min-width: 680px) {

	.horisontal-navigation > div > ul > li.current-menu-item:before,
	.horisontal-navigation > div > ul > li.current_page_item:before,
	.horisontal-navigation > div > ul > li.current-page-ancestor:before,
	.horisontal-navigation > div > ul > li.current-menu-ancestor:before,
	.horisontal-navigation > div > ul > li:hover:before {
		background-color: #ffffff;
	}
	
	.horisontal-navigation ul li ul li:hover a:after,
	.horisontal-navigation > div > ul > li > a:hover {
		color: #d3e7ed;
	}
	
	.horisontal-navigation li ul li.current-menu-item a,
	.horisontal-navigation li ul li.current_page_item a,
	.horisontal-navigation li ul li.current-page-ancestor a,
	.horisontal-navigation li ul li.current-menu-ancestor a,
	.horisontal-navigation li ul li a:hover {
		background-color: #1e73be;
		color: #ffffff !important;
	}

}

.cloned.menu-visible, .cloned .nav-horizontal:before,.cloned:before,.cloned .nav-horizontal:before, .cloned:after,
.top-1-navigation,
.site-info,
.horisontal-navigation > div > ul > li:after {
	background-color: rgba(30,115,190,1);
}

.horisontal-navigation li ul {
	background-color: #ffffff;
}

.top-1-navigation .horisontal-navigation li ul li a {
	color: #1e73be;
}

.top-1-navigation .horisontal-navigation li ul .current-menu-ancestor > a,
.top-1-navigation .horisontal-navigation li ul .current_page_ancestor > a {
	background-color: #1e73be;
	color: #ffffff;
}	

@media screen and (min-width: 680px) {
	.top-1-navigation ul {
		background-color: transparent;
	}
	.top-1-navigation .horisontal-navigation li a {
		color: #ffffff;
	}
}

/* Footer Sidebar */

.sidebar-footer-wrap,
.sidebar-footer .widget a:after {
	background-color: rgba(30,115,190,1);
}
.site-info,
.site-info a {
	color: #ffffff;
}

.sidebar-footer .widgettitle,
.sidebar-footer .widgettitle a,
.sidebar-footer .widget-title,
.sidebar-footer .widget-title a,
.sidebar-footer .widget {
	color: #cbdced;
}

.sidebar-footer .widget-title:after, .sidebar-footer .widgettitle:after, 
.sidebar-footer .widget-title:before, .sidebar-footer .widgettitle:before {
	background: #cbdced;
}

.sidebar-footer .widget a,
.sidebar-footer .widget li:before {
	color: #ffffff;
}

.sidebar-footer .widget_tag_cloud a {
	border-color: rgba(255,255,255,1);
}

.sidebar-footer .widget a:hover {
	color: #cbdced;
}

.sidebar-footer .widget a:hover:before {
	background-color: #cbdced;
}

.sidebar-footer .widgettitle,
.sidebar-footer .widgettitle a,
.sidebar-footer .widget-title,
.sidebar-footer .widget-title a {
	background-color: rgba(23,94,27,0);
	color: #ffffff;
}

.sidebar-footer .widgettitle, .sidebar-footer .widget-title {
	border-color: #d9e8f7;
}